<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student List</title>
  </head>
  <body>
    <h1>Students</h1>

    <% @students.each do |student| %>
    <ul>
      <p><%= student.first_name %> <%= student.last_name %></p>
    </ul>
    <% end %>
  </body>
</html>
